# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android Studio / IntelliJ
.idea/
*.iml

# Android local configuration
android/.gradle/
android/local.properties

# Release artifacts
*.apk
*.aab
*.jks
*.keystore

# Local secrets
.env
*.secret
